.Tasks
  .Container
    / <haml_loud> link_to &#39;New Projects&#39;,&quot;projects/new&quot; </haml_loud>
    = link_to 'New Tasks',new_project_task_path(@project,@task)
    - @tasks.each do |task|
      .Project
        = link_to 'Edit',edit_project_task_path(@project,task)
        = link_to 'Delete',project_task_path(@project,task),:method => 'delete'
        = link_to 'Show' ,project_task_path(@project,task)
        %p.Id
          = task.id
        %p.Name
          = task.tname
        %p.Description
          = task.tdescrtion
        %p.Project.ID
          = task.project_id
